<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Karso</title>
    <link rel="stylesheet"
      src="print.css"
      type="text/css"
      media="print" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"> </script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> -->
    <link href="print.css" media="all" rel="stylesheet">
    <script>
        alert("Recommended to use chrome to print!!!!");
        window.print();
    </script>
    <style>

        /* div{
            page-break-inside: avoid;
        }

        @font-face {
            font-family: "grand";
            src: url("../../fonts/SciFly-Sans.ttf");
        }
        body {
            position: absolute;
            margin: 50px;
            width: 93%;
            border: 1px solid black;

        }

        .photo {
            border: 1px solid black;
            width: 180px;
            margin: 10px;
        }

        td {
            font-weight: bold;
        }

        .gray {
            border: 0.5px solid black;
            height: 30px;
            background-color: #faf6f6;
            font-weight: bold;
            font-style: italic;
        }

        .highlight {
            page-break-inside: avoid;
            background-color: #ebebeb;
        } */
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <br>
                <img width="222" height="100" class="img-responsive" src="../../img/KI-logo.png">
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                <center>
                    <div>
                        <br>
                        <h1 align="center"><b>karpagam Institutions</b></h1>
                        <p align="center">Eachanari Post, Pollachi Main Road Coimbatore</p>
                        <h4 align="center"><b><u>Application form</u></b></h4>
                    </div>
                </center>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
                <center>
                    <div class="photo">
                        <p align="center">Passport size photograph of the candidate</p><br>
                        <p align="center">To be self-attested and verified by the Head of the Panel</p>
                    </div>
                </center>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>Position Applied For : </td>
                        <td>Department: </td>
                    </tr>
                    <tr>
                        <td colspan="2">Aadhar Number: </td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Personal Particulars
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3">Name of the Candidate</td>
                        <td colspan="3" style="font-weight:normal;">Anandha Krishnan</td>
                    </tr>
                    <tr>
                        <td colspan="2">Date Of Birth</td>
                        <td style="font-weight:normal;">22-02-1998</td>
                        <td colspan="2">PAN Number</td>
                        <td style="font-weight:normal;">BAJPV9451Q</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td style="font-weight:normal;">MALE</td>
                        <td>Marital Status</td>
                        <td style="font-weight:normal;">Single</td>
                        <td>Blood Group</td>
                        <td style="font-weight:normal;">A+</td>
                    </tr>
                    <tr>
                        <td colspan="2">Educational Qualification</td>
                        <td colspan="4" style="font-weight:normal;">Something hjdgdjfjgd gdfhgdghfjgj</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Experience In Years</td>
                    </tr>
                    <tr>
                        <td>Teaching</td>
                        <td style="font-weight:normal;">5</td>
                        <td>Industry</td>
                        <td style="font-weight:normal;">6</td>
                        <td>Research</td>
                        <td style="font-weight:normal;">7</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Salary Details Consolidated</td>
                    </tr>
                    <tr>
                        <td colspan="2">Current Salary/Month</td>
                        <td style="font-weight:normal;">25000</td>
                        <td colspan="2">Expected Salary/Month</td>
                        <td style="font-weight:normal;">35000</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Permanent Address</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 1</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 2</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 3</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">City</td>
                        <td style="font-weight:normal;">Marthandam</td>
                        <td colspan="2">pincode</td>
                        <td style="font-weight:normal;">629152</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Address For Communication</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 1</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 2</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">Address Line 3</td>
                        <td colspan="4" style="font-weight:normal;">yttyfyy ghgggyg gygygy</td>
                    </tr>
                    <tr>
                        <td colspan="2">City</td>
                        <td style="font-weight:normal;">Marthandam</td>
                        <td colspan="2">pincode</td>
                        <td style="font-weight:normal;">629152</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Mobile Number</td>
                        <td style="font-weight:normal;">9486577981</td>
                        <td colspan="2">Email</td>
                        <td style="font-weight:normal;">aajay0288@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Community</td>
                        <td style="font-weight:normal;">OC</td>
                        <td>Caste</td>
                        <td style="font-weight:normal;">NADAR</td>
                        <td>Religion</td>
                        <td style="font-weight:normal;">HINDU</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Number of Paper Published</td>
                    </tr>
                    <tr>
                        <td colspan="2">International</td>
                        <td style="font-weight:normal;">9</td>
                        <td colspan="2">National</td>
                        <td style="font-weight:normal;">20</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight"></td>
                    </tr>
                    <tr>
                        <td colspan="2">Phd Specialization</td>
                        <td colspan="4" style="font-weight:normal;">Something hjdgdjfjgd gdfhgdghfjgj</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight">Number of Scopus Publications</td>
                    </tr>
                    <tr>
                        <td>No of publication in web of science</td>
                        <td style="font-weight:normal;">9</td>
                        <td>No of publication in SCIE</td>
                        <td style="font-weight:normal;">20</td>
                        <td>No of publication in Thoms Reutors</td>
                        <td style="font-weight:normal;">20</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="highlight"></td>
                    </tr>
                    <tr>
                        <td>Cumulative Impact Factor</td>
                        <td style="font-weight:normal;">9</td>
                        <td>Highest Impact Factor</td>
                        <td style="font-weight:normal;">20</td>
                        <td>No of Funded Projects received</td>
                        <td style="font-weight:normal;">20</td>
                    </tr>
                    <tr>
                        <td colspan="2">Additional Qualification (SLET/NET)</td>
                        <td colspan="4" style="font-weight:normal;">Something hjdgdjfjgd gdfhgdghfjgj</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Language Competency
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-justified">
                <table class="table table-bordered">
                    <thead>
                        <th>Language</th>
                        <th>Read</th>
                        <th>Speak</th>
                        <th>Write</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Tamil</td>
                        <td style="font-weight:normal;">Known</td>
                        <td style="font-weight:normal;">Un-Known</td>
                        <td style="font-weight:normal;">Known</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Educational and Proffessional Qualifications (in chronological order)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Degree</th>
                        <th>Class Obtained / Percentage</th>
                        <th>Specialization</th>
                        <th>College and University</th>
                        <th>Part Time/ Full Time / Distance Mode</th>
                        <th>History of Arrears if any</th>
                        <th>Year of Completion</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">84.5</td>
                        <td style="font-weight:normal;">jhgyugyugg ugggggg hhh</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Distance Mode</td>
                        <td style="font-weight:normal;">hjdhdifhid hdgfd hgs</td>
                        <td style="font-weight:normal;">2020</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Experience (in chronological order)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Period (Joining Date and Date of Leaving to be mentioned)</th>
                        <th>Post / Designation</th>
                        <th>Name of the Organization</th>
                        <th>Nature of Work</th>
                        <th>Reason for Leaving</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">84.5</td>
                        <td style="font-weight:normal;">jhgyugyugg ugggggg hhh</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Distance Mode</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Subjects Taught (Not Applicable for Freshers/Candidate with Experience other than teaching)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>(Mention whether PG level or UG level)</th>
                        <th>Subject</th>
                        <th>Percentage Obtained</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">datastructure and its applications</td>
                        <td style="font-weight:normal;">84</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Any Other Relevant Information/Achievements
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Research Experience
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Period (of commencement and closure of the project)</th>
                        <th>Post / Designation</th>
                        <th>Organization for which the Project was done</th>
                        <th>Title of Research</th>
                        <th>Funding Agency if any</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">84.5</td>
                        <td style="font-weight:normal;">jhgyugyugg ugggggg hhh</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Distance Mode</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Professional Training Received
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Year</th>
                        <th>Nature of Training</th>
                        <th>Duration</th>
                        <th>Organization where training was provided</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">84.5</td>
                        <td style="font-weight:normal;">jhgyugyugg ugggggg hhh</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Membership of Professional Bodies
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th>Name of the Body</th>
                        <th>Status of Membership: Life/Annual</th>
                    </thead>
                    <tr>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                References
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th class="highlight"></th>
                        <th class="highlight">Reference 1</th>
                        <th class="highlight">Reference 2</th>
                        <th class="highlight">Reference 3</th>
                    </thead>
                    <tr>
                        <td class="highlight">Name</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Occupation/Position/Designation</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Organisation</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Address Line 1</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Address Line 2</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Address Line 3</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">City</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Pincode</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Mobile Number</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                    <tr>
                        <td class="highlight">Email</td>
                        <td style="font-weight:normal;">Bachelor Degree</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                        <td style="font-weight:normal;">Karpagam college of engineering</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray">
                Declaration
            </div>
            <div class="row">
                <div class="col-lg-1 col-sm-1 col-xs-1 col-sm-1"></div>
                <div class="col-lg-10 col-sm-10 col-xs-10 col-sm-10">
                    <h6>
                        <br>
                        I declare that all the aforesaid information is correct and complete to the best of my
                        knowledge
                        and belief and nothing has been concealed / distorted. If I am found to have concealed /
                        distorted any
                        material information, my appointment shall be liable to be summarily terminated without any
                        notice.
                    </h6>
                </div>
                <div class="col-lg-1 col-sm-1 col-xs-1 col-sm-1"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><br><br><br></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br>
                    <h5 align="right">(Signature of the Applicant)</h5>
                </div>
            </div>

        </div>
    </div>
</body>

</html>